<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Type</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <div th:replace="fragments/admin-header.html :: header"></div>
    <div th:replace="fragments/sidebar :: aside"></div>
    <main class="p-10 lg:ml-[190px] lg:pt-10 pt-20">
      <h1 class="text-[70px] lg:text-3xl px-5 py-10 font-bold">Add Type</h1>
      <form
        th:action="@{/admin/facilities/addtype}"
        th:object="${facilityType}"
        method="post"
        class="max-w-md mt-8 ml-5 bg-white p-6 rounded-md shadow-md"
      >
        <div class="mb-4">
          <label for="name" class="block text-gray-700 text-sm font-bold mb-2"
            >Name:</label
          >
          <input
            type="text"
            id="name"
            name="name"
            th:field="*{name}"
            required
            class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>

        <div class="mb-4">
          <label for="rate" class="block text-gray-700 text-sm font-bold mb-2"
            >Rate:</label
          >
          <input
            type="number"
            id="rate"
            name="rate"
            th:field="*{rate}"
            required
            class="w-full border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
          />
        </div>

        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
        >
          Add Facility Type
        </button>
      </form>
    </main>
    <script>
      const socket = new SockJS("/ws");
      const stompClient = Stomp.over(socket);

      stompClient.connect({}, () => {
        stompClient.subscribe("/topic/admin", (notification) => {
          // Handle the incoming notification
          const message = JSON.parse(notification.body);
          console.log("Recieved Booking Notification:", message);
          // Display the notification to the admin
          displayNotification(message);
        });
      });

      function displayNotification(notification) {
        // Extract booking information
        let bookingId = notification.bookingId;
        let customerName = notification.customerName;
        let facilityName = notification.facilityName;

        // Create a message for the toast
        var message = `${customerName} has made a booking at ${facilityName}.`;

        // Show a toast notification
        Toastify({
          text: message,
          duration: 5000, // Adjust duration as needed
          close: true,
          gravity: "top", // Position of the toast
          position: "right", // Position of the toast
          className: "font-semibold bg-blue-500 hover:bg-blue-600",
          destination: `/admin/booking/${bookingId}`,
        }).showToast();
      }
    </script>
  </body>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/toastify-js"
  ></script>
</html>
