<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Facility</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar :: aside"></div>

    <main class="mt-[85px] lg:mt-[90px] lg:pl-[175px]">
      <h1
        class="text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl px-5 py-6 lg:py-10 font-bold"
      >
        Add Facility
      </h1>

      <form
        class="flex flex-col gap-3 px-4 md:px-10 w-full pb-10"
        th:object="${facility}"
        method="post"
        th:action="@{/admin/facilities/add}"
      >
        <label for="name" class="text-gray-700 text-sm font-bold mb-2"
          >Name:</label
        >
        <input
          class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
          type="text"
          id="name"
          name="name"
          th:field="*{name}"
          required
        />

        <!-- Facility Types Table -->
        <div class="mt-4">
          <label class="text-gray-700 text-sm font-bold">Facility Types:</label>
          <div class="overflow-x-auto">
            <table class="w-full border-collapse border border-gray-300">
              <thead>
                <tr>
                  <th class="border px-4 py-2">ID</th>
                  <th class="border px-4 py-2">Name</th>
                  <th class="border px-4 py-2">Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  th:each="facilityType : ${facilityTypes}"
                  class="even:bg-gray-100"
                >
                  <td
                    class="border px-4 py-2"
                    th:text="${facilityType.id}"
                  ></td>
                  <td
                    class="border px-4 py-2"
                    th:text="${facilityType.name}"
                  ></td>
                  <td
                    class="border px-4 py-2"
                    th:text="${facilityType.rate.toString()}"
                  ></td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Display a message if facility types list is empty -->
          <p
            class="text-gray-700 mt-4"
            th:if="${#lists.isEmpty(facilityTypes)}"
          >
            No facility types available.
          </p>
        </div>

        <!-- Facility Type ID Input -->
        <label for="facilityTypeId" class="text-gray-700 text-sm font-bold mt-4"
          >Enter Type ID:</label
        >
        <input
          class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
          type="number"
          name="facilityTypeId"
          id="facilityTypeId"
        />

        <!-- Description Textarea -->
        <label for="description" class="text-gray-700 text-sm font-bold mb-2"
          >Description:</label
        >
        <textarea
          class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500 resize-none"
          id="description"
          name="description"
          th:field="*{description}"
          rows="4"
          required
        ></textarea>

        <!-- Image URL Input -->
        <label for="image" class="text-gray-700 text-sm font-bold mb-2"
          >Image Url:</label
        >
        <input
          class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
          type="url"
          id="image"
          name="image"
          th:field="*{imageUrl}"
          required
        />

        <!-- Opening and Closing Times -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <div>
            <label
              for="weekdayOpeningTime"
              class="text-gray-700 text-sm font-bold"
              >Weekday Opening Time:</label
            >
            <input
              type="time"
              id="weekdayOpeningTime"
              name="weekdayOpeningTime"
              required
              class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
            />
          </div>
          <div>
            <label
              for="weekdayClosingTime"
              class="text-gray-700 text-sm font-bold"
              >Weekday Closing Time:</label
            >
            <input
              type="time"
              id="weekdayClosingTime"
              name="weekdayClosingTime"
              required
              class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
            />
          </div>
          <div>
            <label
              for="weekendOpeningTime"
              class="text-gray-700 text-sm font-bold"
              >Weekend Opening Time:</label
            >
            <input
              type="time"
              id="weekendOpeningTime"
              name="weekendOpeningTime"
              required
              class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
            />
          </div>
          <div>
            <label
              for="weekendClosingTime"
              class="text-gray-700 text-sm font-bold"
              >Weekend Closing Time:</label
            >
            <input
              type="time"
              id="weekendClosingTime"
              name="weekendClosingTime"
              required
              class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500"
            />
          </div>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue mt-4"
        >
          Add Facility
        </button>
      </form>
    </main>
  </body>
</html>
