<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body class="bg-gray-100">
    <div th:replace="fragments/admin-header.html :: header"></div>
    <div th:replace="fragments/sidebar :: aside"></div>
    <main class="p-10 lg:ml-[190px] lg:pt-10 pt-20">
      <h1 class="text-3xl lg:text-5xl px-5 py-5 font-bold">All Bookings</h1>
      <!-- Table -->
      <div class="overflow-x-auto bg-white rounded-md shadow-md p-5">
        <div class="mb-4">
          <label for="customerNameSearch" class="block font-semibold mb-1"
            >Search by Customer Name:</label
          >
          <input
            type="text"
            id="customerNameSearch"
            class="w-full p-2 border rounded-md"
            oninput="searchTable()"
          />
        </div>
        <table class="min-w-full">
          <thead>
            <tr>
              <th class="py-2 px-1 border-b text-left">ID</th>
              <th class="py-2 px-1 border-b text-left">Customer</th>
              <th class="py-2 px-1 border-b text-left">Facility</th>
              <th class="py-2 px-1 border-b text-left">Date</th>
              <th class="py-2 px-1 border-b text-left">Start Time</th>
              <th class="py-2 px-1 border-b text-left">End Time</th>
              <th class="py-2 px-1 border-b text-left">Status</th>
              <th class="py-2 px-1 border-b text-left"></th>
              <!-- Add more columns as needed -->
            </tr>
          </thead>
          <tbody id="bookingTable">
            <!-- Thymeleaf iteration over bookings -->
            <tr th:each="booking : ${bookings}">
              <td class="py-2 px-2 border-b" th:text="${booking.id}"></td>
              <td
                class="py-2 px-2 border-b"
                th:text="${booking.user.firstName + ' ' + booking.user.lastName}"
              ></td>
              <td
                class="py-2 px-2 border-b"
                th:text="${booking.facility.name}"
              ></td>
              <td
                class="py-2 px-2 border-b"
                th:text="${booking.bookedDate}"
              ></td>
              <td class="py-2 px-2 border-b" th:text="${booking.start}"></td>
              <td class="py-2 px-2 border-b" th:text="${booking.end}"></td>
              <td
                class="py-2 px-2"
                th:class="${T(dev.cocoa.uspgymbooking.booking.BookingStatus).getStatusColor(booking.status)}"
                th:text="${booking.status.getDisplayName()}"
              ></td>

              <td class="py-2 px-2 border-b">
                <a
                  th:href="@{'/admin/booking/' + ${booking.id}}"
                  class="flex gap-1 font-semibold hover:bg-blue-200 bg-blue-100 justify-center p-1 rounded"
                  ><i data-lucide="clipboard-edit" class="w-5"></i> Update</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <div th:if="${totalPages > 1}">
          <div class="mt-2 grid grid-cols-3">
            <div>Total rows: [[${totalItems}]]</div>
            <div>
              <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                <a
                  th:if="${currentPage!=i}"
                  th:href="@{'/admin/booking/page/'+${i}}"
                  >[[${i}]]</a
                >
                <span th:unless="${currentPage!=i}">[[${i}]]</span>
              </span>
            </div>
            <div class="flex gap-2">
              <div>
                <a
                  th:if="${currentPage<totalPages}"
                  th:href="@{'/admin/booking/page/' + ${currentPage+1}}"
                  >Next</a
                >
                <span th:unless="${currentPage< totalPages}">Next</span>
              </div>
              <div>
                <a
                  th:if="${currentPage<totalPages}"
                  th:href="@{'/admin/booking/page/' + ${totalPages}}"
                  >Next</a
                >
                <span th:unless="${currentPage< totalPages}">Last</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>

  <script th:inline="javascript">
    lucide.createIcons();
    /*<![CDATA[*/
    // Get chart data from Thymeleaf model
    var chartData = /*[[${chartData}]]*/ {};

    // Convert chartData to arrays for labels and data
    var labels = Object.keys(chartData);
    var data = Object.values(chartData);

    // Get the canvas element
    var ctx = document.getElementById("bookingChart").getContext("2d");

    // Create the chart
    var myChart = new Chart(ctx, {
      type: "bar",
      data: {
        labels: labels,
        datasets: [
          {
            label: "Number of Bookings",
            data: data,
            backgroundColor: "rgba(75, 192, 192, 0.2)",
            borderColor: "rgba(75, 192, 192, 1)",
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
    /*]]>*/
  </script>
  <script>
    function searchTable() {
      // Get the search input value
      var input = document.getElementById("customerNameSearch");
      var filter = input.value.toUpperCase();

      // Get the table body and rows
      var table = document.getElementById("bookingTable");
      var rows = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those that don't match the search query
      for (var i = 0; i < rows.length; i++) {
        var customerName = rows[i].getElementsByTagName("td")[1]; // Adjust index based on your actual table structure

        if (customerName) {
          var textValue = customerName.textContent || customerName.innerText;

          if (textValue.toUpperCase().indexOf(filter) > -1) {
            rows[i].style.display = "";
          } else {
            rows[i].style.display = "none";
          }
        }
      }
    }
  </script>
</html>
