<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div th:replace="fragments/admin-header.html :: header"></div>
    <div th:replace="fragments/sidebar :: aside"></div>
    <main class="p-10 lg:ml-[190px] lg:pt-10 pt-20">
      <div class="container mx-auto px-5">
        <section class="px-5 pb-5">
          <h2
            class="text-2xl font-bold my-4"
            th:text="'Update'+${facilityType.name}"
          ></h2>
          <!-- Edit Facility Form -->
          <form
            th:action="@{/admin/facilities/type/update}"
            method="post"
            th:object="${facilityType}"
            class="w-full bg-white p-8 rounded-md shadow-md"
          >
            <!-- Facility Name -->
            <div class="mb-4">
              <input
                type="hidden"
                id="facilityId"
                name="name"
                th:field="*{id}"
                class="w-full px-3 py-2 border rounded-md"
                required
              />
              <label for="name" class="block text-gray-700 font-semibold mb-2"
                >Name:</label
              >
              <input
                type="text"
                id="name"
                name="name"
                th:field="*{name}"
                class="w-full px-3 py-2 border rounded-md"
                required
              />
            </div>

            <!-- Facility Image URL -->
            <div class="mb-4">
              <label
                for="imageUrl"
                class="block text-gray-700 font-semibold mb-2"
                >Rate:</label
              >
              <input
                required
                type="number"
                id="imageUrl"
                name="imageUrl"
                th:field="*{rate}"
                class="w-full px-3 py-2 border rounded-md"
              />
            </div>

            <!-- Save Button -->
            <div class="mb-4">
              <button
                type="submit"
                class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
              >
                Save Changes
              </button>
            </div>
          </form>
        </section>
      </div>
    </main>
  </body>
</html>
