<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add Facility</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <h2>Add Facility Type</h2>
    <form
      class="flex flex-col gap-3 px-10 w-full"
      th:object="${facility}"
      method="post"
      th:action="@{/admin/facilities/add}"
    >
      <label for="name">Name:</label>
      <input
        class="border"
        type="text"
        id="name"
        name="name"
        th:field="*{name}"
        required
      />

      <label for="description">Description:</label>
      <input
        class="border"
        type="text"
        id="description"
        name="description"
        th:field="*{description}"
        required
      />

      <label for="image">Image Url:</label>
      <input
        class="border"
        type="url"
        id="image"
        name="image"
        th:field="*{imageUrl}"
        required
      />

      <!-- Check if facility types list is not empty -->
      <th:block th:if="${not #lists.isEmpty(facilityTypes)}">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <!-- Add additional columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr th:each="facilityType : ${facilityTypes}">
              <td th:text="${facilityType.id}"></td>
              <td th:text="${facilityType.name}"></td>
              <td th:text="${facilityType.rate.toString()}"></td>
            </tr>
          </tbody>
        </table>
      </th:block>

      <!-- Display a message if facility types list is empty -->
      <th:block th:if="${#lists.isEmpty(facilityTypes)}">
        <p>No facility types available.</p>
      </th:block>
      <label for="facilityTypeId">Enter Type ID:</label>
      <input type="number" name="facilityTypeId" id="facilityTypeId" />

      <button type="submit">Add Facility Type</button>
    </form>
  </body>
</html>
