<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="">
    <header class="fixed top-0 w-full">
      <nav
        class="flex items-center justify-between w-full p-5 bg-blue-600 border-b-2 border-blue-900"
      >
        <a href="/"
          ><h1 class="text-[90px] lg:text-5xl font-bold text-white">
            UniFit
          </h1></a
        >
        <ul class="hidden lg:flex gap-7 text-[30px] lg:text-lg">
          <li
            class="text-white hover:underline active:underline font-semibold cursor-pointer"
          >
            <a href="/facilities">Facilities</a>
          </li>
          <li
            class="text-white hover:underline active:underline font-semibold cursor-pointer"
          >
            <a href="/booking">Bookings</a>
          </li>
          <li
            class="text-white hover:underline active:underline font-semibold cursor-pointer"
          >
            <a href="/registration">Register</a>
          </li>
          <li
            class="text-white hover:underline active:underline font-semibold cursor-pointer"
          >
            <a href="/login">Login</a>
          </li>
          <li
            class="text-white hover:underline active:underline font-semibold cursor-pointer"
          >
            <a href="/logout">Logout</a>
          </li>
        </ul>
        <div
          class="text-white pr-5 lg:hidden hover:underline active:underline font-semibold cursor-pointer text-[30px] lg:text-lg"
        >
          <a href="/logout">Logout</a>
        </div>
      </nav>
    </header>
    <aside
      class="fixed hidden lg:block bg-slate-100 w-fit border-r-2 border-neutral-400 left-0 top-[90px] h-screen overflow-hidden"
    >
      <nav>
        <div class="flex flex-col font-semibold w-[175px]">
          <a href=""
            ><div
              class="border-b sm:hover:bg-neutral-200 active:bg-neutral-200 text-lg border-neutral-400 py-12 pl-3"
            >
              Analytics
            </div></a
          >
          <a href="/admin"
            ><div
              class="border-b sm:hover:bg-neutral-200 active:bg-neutral-200 text-lg border-neutral-400 py-12 pl-3"
            >
              Schedule
            </div></a
          >
          <a href="/admin"
            ><div
              class="border-b sm:hover:bg-neutral-200 active:bg-neutral-200 text-lg border-neutral-400 py-12 pl-3"
            >
              Facilities
            </div></a
          >
          <a href="/admin"
            ><div
              class="sm:hover:bg-neutral-200 active:bg-neutral-200 text-lg py-12 pl-3"
            >
              Users
            </div></a
          >
        </div>
      </nav>
    </aside>
    <main class="mt-[177px] lg:mt-[90px] lg:pl-[175px]">
      <h1 class="text-[70px] lg:text-3xl px-5 py-10 font-bold">Analytics</h1>
    </main>
  </body>
</html>
