<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <!--Header Fragment-->
    <div th:replace="fragments/header :: header"></div>

    <main class="mt-[88px] p-10">
      <h2 class="">Select a facility</h2>
      <!-- Facilities Container -->
      <div class="container mx-auto mt-8">
        <!-- Facility Cards -->
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
        >
          <!-- Iterate over facilities and generate cards -->
          <div
            th:each="facility : ${facilities}"
            class="bg-white rounded-lg overflow-hidden shadow-md"
          >
            <img
              th:src="${facility.imageUrl}"
              alt="Facility Image"
              class="w-full h-32 object-cover"
            />
            <div class="p-6">
              <h2
                class="text-xl font-semibold mb-2"
                th:text="${facility.name}"
              ></h2>
              <p class="text-gray-700" th:text="${facility.description}"></p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
