<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main class="mt-[88px] p-10">
      <h2 class="text-[24px] lg:text-2xl font-bold mb-4">All Facilities</h2>

      <!-- Check if facilities list is not empty -->
      <th:block th:if="${not #lists.isEmpty(facilities)}">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
        >
          <div
            th:each="facility : ${facilities}"
            class="bg-white p-4 shadow-md rounded-md"
          >
            <p
              class="font-semibold text-lg mb-2"
              th:text="${facility.name}"
            ></p>
            <p class="text-gray-600 mb-2" th:text="${facility.description}"></p>
            <p
              class="text-gray-500"
              th:text="${facility.status.getDisplayName()}"
            ></p>
            <img
              class="mt-2"
              th:src="${facility.imageUrl}"
              th:alt="${facility.name}"
            />
          </div>
        </div>
      </th:block>

      <!-- Display a message if facilities list is empty -->
      <th:block th:if="${#lists.isEmpty(facilities)}">
        <p class="text-gray-500">No facilities available.</p>
      </th:block>
    </main>

    <!-- Check if facilities list is not empty -->
  </body>
</html>
