<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Booking</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main class="mt-[88px] p-10">
      <h2 class="text-[24px] lg:text-2xl font-bold mb-4">All Facilities</h2>

      <!-- Check if facilities list is not empty -->
      <th:block th:if="${not #lists.isEmpty(facilities)}">
        <div class="container mx-auto mt-8">
          <!-- Facility Cards -->
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8"
          >
            <!-- Iterate over facilities and generate cards -->
            <div
              th:each="facility : ${facilities}"
              class="bg-white rounded-lg overflow-hidden shadow-md"
            >
              <img
                th:src="${facility.imageUrl}"
                alt="Facility Image"
                class="w-full h-32 object-cover"
              />
              <div class="p-6">
                <div class="flex justify-between items-center">
                  <h2
                    class="text-xl font-semibold mb-2"
                    th:text="${facility.name}"
                  >
                    Name
                  </h2>
                  <div
                    th:text="${facility.status.getDisplayName()}"
                    class="bg-green-300 text-sm text-lime-700 p-0.5 rounded-md font-md"
                  ></div>
                </div>

                <p class="text-gray-700" th:text="${facility.description}"></p>
              </div>
            </div>
          </div>
        </div>
      </th:block>

      <!-- Display a message if facilities list is empty -->
      <th:block th:if="${#lists.isEmpty(facilities)}">
        <p class="text-gray-500">No facilities available.</p>
      </th:block>
    </main>

    <!-- Check if facilities list is not empty -->
  </body>
</html>
